/* Celulares (Portrait) - abaixo de 480 pixels de largura */
@media (max-width: 479px) {
  /* Estilos específicos para celulares em portrait */

  /* home */

  
  .title-home {
    font-size: var(--fs-title);
  }

  .caption-home {
    font-size: var(--fs-caption);
  }

  /* about */

  #about {
    margin-bottom: 3rem;
  }

  .content-about {
    padding: 3rem;
  }

  .title-about {
    font-size: var(--fs-title);
    margin-bottom: 2rem;
  }

  .text-about {
    font-size: var(--fs-text);
  }

  /* serviços */

  .title-service {
    font-size: var(--fs-title);
  }

  .caption-service {
    font-size: var(--fs-caption);
  }

  .service h3 {
    font-size: var(--fs-title);
  }

  .service p {
    font-size: var(--fs-text);
  }

  /* projects */

  .title-project {
    font-size: var(--fs-title);
  }

  .caption-project {
    font-size: var(--fs-caption);
  }

  .project h3 {
    font-size: calc(var(--fs-title) * 0.65);
  }

  .project p {
    font-size: var(--fs-text);
  }

}




/* Celulares (Landscape) - entre 480 e 767 pixels de largura */
@media (min-width: 480px) and (max-width: 767px) {
  /* Estilos específicos para celulares em landscape */
  /* home */

  .title-home {
    font-size: var(--fs-sm-title);
  }

  .caption-home {
    font-size: var(--fs-sm-caption);
  }

  .header {
    padding: 1rem;
  }

  .img-logo {
    width: 60px;
    height: 60px;
  }

  .nav-link {
    font-size: 0.65rem;
  }



  /* About */

  .content-about {
    padding: 4.5rem;
  }

  
  .title-about {
    font-size: var(--fs-sm-title);
    margin-bottom: 2rem;
  }

  .text-about {
    font-size: var(--fs-sm-text);
  }


  /* serviços */

  #service {
    padding: 6rem 0;
  }

  .title-service {
    font-size: var(--fs-sm-title);
  }

  .caption-service {
    font-size: var(--fs-sm-caption);
  }

  .service h3 {
    font-size: var(--fs-sm-title);
  }

  .service p {
    font-size: var(--fs-sm-text);
  }

  /* projects */

  .title-project {
    font-size: var(--fs-sm-title);
  }

  .caption-project {
    font-size: var(--fs-sm-caption);
  }

  .project h3 {
    font-size: calc(var(--fs-title) * 0.8);
  }

  .project p {
    font-size: var(--fs-sm-text);
  }

  /* footer */

  #footer {
    padding: 6rem 2rem;
  }

  .logo-footer .img-logo {
    width: 80px;
    height: 80px;
  }

  .logo-footer .logo-text {
    font-size: 2rem;
  }

  .redes-sociais {
    font-size: 1.5rem;
  }

  .title-footer {
    font-size: 1.45rem;
  }

  .text-footer {
    font-size: 1.25rem;
  }
}

/* Tablets - entre 768 e 1023 pixels de largura */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos específicos para tablets */

  /* home */
  
  .title-home {
    font-size: var(--fs-md-title);
  }

  .caption-home {
    font-size: var(--fs-md-caption);
  }

  .nav-link {
    font-size: 0.75rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }

  /* about */

  .content-about {
    padding-top: 0 !important;
  }

   
  .title-about {
    font-size: var(--fs-md-title);
    margin-bottom: 2rem;
  }

  .text-about {
    font-size: var(--fs-md-text);
  }

  /* serviços */

  
  .title-service {
    font-size: var(--fs-md-title);
  }

  .caption-service {
    font-size: var(--fs-md-caption);
  }

  .service h3 {
    font-size: var(--fs-sm-title);
  }

  .service p {
    font-size: var(--fs-sm-text);
  }

  
  /* projects */

  .title-project {
    font-size: var(--fs-md-title);
  }

  .caption-project {
    font-size: var(--fs-md-caption);
  }

  .project h3 {
    font-size: calc(var(--fs-title) * 0.8);
  }

  .project p {
    font-size: var(--fs-sm-text);
  }

  /* Footer */

  .logo-footer {
    margin-bottom: 1rem;
  }

  .logo-footer .logo-text {
    font-size: var(--fs-md-text);
  }

  .title-footer {
    font-size: var(--fs-md-text);
  }

  .text-footer {
    font-size: var(--fs-sm-text);
  }

}

/* Desktops Pequenos - entre 1024 e 1199 pixels de largura */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos específicos para desktops pequenos */

  /* Home */

  .title-home {
    font-size: var(--fs-md-title);
  }

  .caption-home {
    font-size: var(--fs-md-caption);
  }

  /* about */

  .content-about {
    padding-top: 0 !important;
  }


  .title-about {
    font-size: var(--fs-md-title);
    margin-bottom: 2rem;
  }

  .text-about {
    font-size: var(--fs-md-text);
  }

  /* serviços */
  
  .title-service {
    font-size: var(--fs-md-title);
  }

  .caption-service {
    font-size: var(--fs-md-caption);
  }

  .service h3 {
    font-size: var(--fs-sm-title);
  }

  .service p {
    font-size: var(--fs-sm-text);
  }

   /* projects */

  .title-project {
    font-size: var(--fs-md-title);
  }

  .caption-project {
    font-size: var(--fs-md-caption);
  }

  .project h3 {
    font-size: calc(var(--fs-title) * 1);
  }

  .project p {
    font-size: var(--fs-md-text);
  }

  /* Footer */
  
  .logo-footer {
    margin-bottom: 1rem;
  }

  .logo-footer .logo-text {
    font-size: var(--fs-lg-text);
  }

  .title-footer {
    font-size: var(--fs-md-text);
  }

  .text-footer {
    font-size: var(--fs-sm-text);
  }

}

/* Desktops Médios - entre 1200 e 1439 pixels de largura */
@media (min-width: 1200px) and (max-width: 1439px) {
    
  /* Estilos específicos para desktops médios */

  /* home */

  .title-home {
    font-size: var(--fs-lg-title);
  }

  .caption-home {
    font-size: var(--fs-lg-caption);
  }

    /* about */

  .content-about {
    padding-top: 0 !important;
  }


  .title-about {
    font-size: var(--fs-lg-title);
    margin-bottom: 2rem;
  }

  .text-about {
    font-size: var(--fs-md-text);
  }

  /* serviços */
  
  .title-service {
    font-size: var(--fs-lg-title);
  }

  .caption-service {
    font-size: var(--fs-lg-caption);
  }

  .service h3 {
    font-size: var(--fs-sm-title);
  }

  .service p {
    font-size: var(--fs-sm-text);
  }


  /* projects */
  #project {
    padding: 8rem 3rem;
  }

  .content-project {
    margin-bottom: 5.5rem;
  }


  .title-project {
    font-size: var(--fs-lg-title);
  }

  .caption-project {
    font-size: var(--fs-lg-caption);
  }

  .project h3 {
    font-size: calc( var(--fs-sm-title) * 0.8);
  }

  .project p {
    font-size: var(--fs-md-text);
  }

  /* footer */

  .logo-footer {
    margin-bottom: 2rem;
  }

  .logo-footer .logo-text {
    font-size: 2rem;
  }

  .redes-sociais {
    font-size: 2rem;
  }

  /* Footer */
  
  .logo-footer {
    margin-bottom: 1rem;
  }

  .logo-footer .logo-text {
    font-size: var(--fs-lg-text);
  }

  .title-footer {
    font-size: var(--fs-lg-text);
  }

  .text-footer {
    font-size: var(--fs-md-text);
  }
  
}

/* Desktops Grandes - 1440 pixels de largura e acima */
@media (min-width: 1440px) {
  /* Estilos específicos para desktops grandes */

  
  /* home */

  .title-home {
    font-size: var(--fs-xl-title);
  }

  .caption-home {
    font-size: var(--fs-xl-caption);
  }

  
  .header {
    padding: 1rem 2rem;
  }

  .img-logo {
    width: 100px;
    height: 100px;
  }

  .logo-text {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .btn {
    padding: 0.8rem 1.2rem;
  }

  /* about */

  .content-about {
    padding-top: 0 !important;
  }


  .title-about {
    font-size: var(--fs-xl-title);
    margin-bottom: 2.5rem;
  }

  .text-about {
    font-size: var(--fs-xl-text);
  }

  /* serviços */

  #service {
    padding: 8rem 0;
  }
  /* serviços */
  
  .title-service {
    font-size: var(--fs-xl-title);
  }

  .caption-service {
    font-size: var(--fs-xl-caption);
  }

  .service h3 {
    font-size: var(--fs-sm-title);
  }

  .service p {
    font-size: var(--fs-sm-text);
  }

  .bg-icon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .icon-service {
    background-size: 100% 100% !important;
    background-position: center center !important;
    width: 120px;
    height: 120px;
  }

  /* projects */

  .title-project {
    font-size: var(--fs-xl-title);
  }

  .caption-project {
    font-size: var(--fs-xl-caption);
  }

  .project h3 {
    font-size: var(--fs-sm-title);
  }

  .project p {
    font-size: var(--fs-md-text);
  }

  /* Footer */

  .logo-footer {
    margin-bottom: 2rem;
  }

  .logo-footer .logo-text {
    font-size: var(--fs-lg-text);
  }

  .title-footer {
    font-size: var(--fs-lg-text);
  }

  .text-footer {
    font-size: var(--fs-md-text);
  }

}
