@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --color-1: #000000;
    --color-2: #fff;
    --color-purple: #4c1eb8;
    --gray:  #DFDBDB;
    --color-3: #FA0644;
    --color-4: #363636;
    --cor-whatsapp: #25D366;
}

/* Geral */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
}
body{
    background-color: black !important;
  }

.bg-black {
    background-color: var(--color-1);
}

.bg-purple {
    background-color: var(--color-purple);
}

.text-purple {
    color: var(--color-purple);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* específicos */


/* home */


.header {
    padding: 1rem;
    height: min-content;
    margin-bottom: 1rem;
}



#img-logo {
    width: 50px;
    height: 50px;
    background: url(/public/img/full-screen.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-link{
    position: relative;
    margin-left: 2rem;
}

.nav-link::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
}

.content-home {
    padding: 1rem 2rem;
}

.title-home {
    font-size: 1.5rem;
}

.caption-home {
    font-size: 1rem;
}

.btn {
    padding: 0.8rem 1.2rem;
}


/* about */

#img-about {
    background: url(/public/img/sobre.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-about {
    padding: 2rem;
}

.title-about {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text-about {
    font-size: 0.95rem;
    font-family: var(--font-secondary);
    text-align: left;
}


/* media queries */

@media (min-width: 576px) {

  

    .content-about {
        padding: 3rem;
    }
    
    .title-about {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    .text-about {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) { 

    /* home */

    .header {
        padding: 1rem;
    }

    #img-logo {
        width: 60px;
        height: 60px;
    }

    .nav-link{
        font-size: 0.85rem;
    }

    .content-home {
        padding: 14rem 6rem;
    }

    .title-home {
        font-size: 2.5rem;
    }

    .caption-home {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.75rem;
        padding: 0.4rem 1rem;
    }

    /* About */

    .content-about {
        padding: 4.5rem;
    }
    
    .title-about {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    .text-about {
        font-size: 1.25rem;
    }
    
}

@media (min-width: 992px) { 

    .content-home {
        padding: 14rem 8rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.8rem 1rem;
    }
  
}

@media (min-width: 1200px) { 
    
    
}

@media (min-width: 1400px) { 

    /* Home */

    
    .header {
        padding: 1rem 2rem;
    }

    #img-logo {
        width: 100px;
        height: 100px;
    }

    .logo-text {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .content-home {
        padding: 20rem 12rem;
    }

    .title-home {
        font-size: 4rem;
    }

    .caption-home {
        font-size: 2.5rem;
    }

    .btn {
        padding: 0.8rem 1.2rem;
    }

    /* about */

    .content-about {
        padding: 8rem 12rem;
    }
    
    .title-about {
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }
    
    .text-about {
        font-size: 1.75rem;
    }
}

@media (min-width: 1400px) and (min-height: 900px){
 
}