/* 
    #2661A6
    #668CD9
    #7E9CD9
    #CEDAF2
    #0D0D0D
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #668CD9;
    background: cover, no-repeat, linear-gradient(to bottom, #668CD9, #7E9CD9);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a.navbar-brand{
    color: white !important;
}

.titulo{
    color: white;
}

.subtitulo{
    color: white;
}

.categoria{
    margin-top: 30px;
}

section#produtos-prontos, #produtos-personalizado,
        #funcionario, #contato{
    padding: 32px
}

main section#principal{
    background-color: #668CD9;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#produtos-personalizado{
    background-color: #668CD9;
    color: white;
}

section#contato{
    background-color: #668CD9;
    color: white;
}

nav{
    background-color: #668CD9;
    display: flex;
    justify-content: space-between;
} 

.nav-link {
    color: white !important;
}


/* Código do Botão */

.round-button {
    margin-top: 2px;
    background: #333333;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .round-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1E1E1E;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
  .round-button:hover:before {
    transform: translateX(0);
  }

/* Estilização do CARD - CSS */

.container_card {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
}

.grupo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.card {
    background: #f4f4f4 !important;
    width: 280px;
    height: 397.39px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none !important;
    box-shadow: 0px 0px 8px 3px #afafafc4;
    transition: all 0.4s;
}

.card .imagem {
    width: 100%;
    height: 150px;
}

.card .imagem img {
    width: 100%;
    height: 100%;
}


.card h2 {
    font-size: 1em;
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
}

.card p {
    font-size: 0.75em;
    margin: 0 10px 15px 10px;
    text-align: justify;
}

.card .detalhes {
    text-align: center;
}

.card .detalhes span.preco {
    font-size: 0.9em;
    color: #2f3a59;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.2px;
    position: relative;
}

/* .card .detalhes span.preco::after {
    content: ' ';
    width: 50px;
    height: 1px;
    background-color: #2f3a59;
    position: absolute;
    top: 1.35em;
    left: -1px;
    box-shadow: 0px 2px 8px 1px #2f3a59;
} */

.card .detalhes span.valor {
    font-size: 0.9em;
    color: #2651a6;
    font-weight: 600;
}

.card .btn {
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 22px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 2px 1px #868686;

}

.card:hover {

    transform: scale(1.09);
    box-shadow: none;
}

.card a.cor1  {
    background-color: #2651a6;
    color: white;
}

footer{
    background-color: #0D0D0D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* funcionario */

.grupo-fotos-perfil {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
}

.icon-tecnologias {
    color: #2651a6;
    font-size: 60px;
}


.icon-tecnologias i {
    margin-right: 30px;

}

.descricao h3 {
    font-size: 1.4em;
    color: #01154d;
    
}

.descricao p {
    font-size: 1.1em;
}


/* Contato */



.endereco {
    border-left: 2px solid #2651a6;
}

.endereco h3 {
    font-size: 2em;
    color: #01154d;
    letter-spacing: -1.04px;
}

.endereco p {
    color: #0D0D0D;
    font-size: 0.9em;
    text-align: justify;
    width: 270px;
    margin-top: 20px;
    margin-bottom: 0;
}

.endereco h4 {
    font-size: 2em;
    color: #01154d;
    margin-top: 40px;
}



.endereco span.numero {
    font-size: 0.9em;
    letter-spacing: 1.5px;
}

.logos-redes-sociais i {
    font-size: 30px;
    margin-left: 10px;
    color: #333333;
}

.logos-redes-sociais i:first-child{
    margin: 0;
}



@media (min-width: 576px) { 

    
    .foto-perfil {
        width: 160px;
        height: 160px;
    }

}


@media (min-width: 768px) {



    .grupo-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .foto-perfil {
        width: 190px;
        height: 190px;
    }

 }


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { }


@media (min-width: 1400px) { }