/* 
    #2661A6
    #668CD9
    #7E9CD9
    #CEDAF2
    #0D0D0D
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #668CD9;
    background: cover, no-repeat, linear-gradient(to bottom, #668CD9, #7E9CD9);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  
}

main {
    background-color: #668CD9;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.titulo{
    color: white;
}

.subtitulo{
    color: white;
}

.categoria{
    margin-top: 30px;
}

/* Estilização do CSS */

.navbar{
    background-color: #668CD9;

}